<div class="row">

	{% if include.status == 'previous' %}
		{% assign alumini = (site.staff | where: 'status','previous' | sort:'end-year', 'last') | reverse %}

		<div class="row" >
			{% for member in alumini %}
				<div class="medium-3 columns" >

					<figure>
						<img src="{{ site.baseurl }}/staff/image/{{ member.profile_photo_path_staff }}"  class="members"  >

						<figcaption>
						<a href="{{member.website }}" target="_blank">{{ member.name }}</a>
						<br/>
						{{ member.position }}, {{ member.start-year }} - {{ member.end-year }}
						</figcaption>
					</figure>

				</div>

			{% endfor %}
		</div>
	{% else %}
		{% for member in site.staff %}
			{% if member.position == include.position and member.status == include.status %}

				<div class="medium-3 columns">

					<figure>
						<img src="{{ site.baseurl }}/staff/image/{{ member.profile_photo_path_staff }}"  class="members"  >

						<figcaption>
							<a href="{{member.website }}" target="_blank">{{ member.name }}</a>
						</figcaption>
					</figure>
				</div>

			{% endif %}    
		{% endfor %}
	{% endif %}  

</div>

