


{% assign projects = site.research | where: 'group',page.group | sort:'weight', 'last' %}
{% for project in projects %}
	{% for tag in project.tags %}
		{% if include.status == tag %}
		<li>
			<h2>
				<a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
			</h2>
			{% if project.content contains site.excerpt_separator %}
				{{ project.content | split:site.excerpt_separator | first }} 
				<a href="{{ project.url | prepend: site.baseurl }}">Read more...</a>
			{% else %}
				{{ project.content }}	</li>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endfor %}